<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			
			<!-- syntax highlighting CSS -->
                        <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
			
                        <!-- Homepage CSS -->
                        <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
		</head>
		<body>
<!-- 			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav> -->
			<div class="site">
			     <div class="title">
                                  <a class="extra" href="http://peachdata.rog">Home</a> 
                                  <a class="extra" href="/"></a>
                                  <a class="extra" href="/blog">Archive</a>
		        </div>
			
			{{ content }}
			
			</div><!-- /.container -->
			<div class ="footer">
	    		
	        		<p><a href="mailto:acap.peachdata@gmail.com">email</a></p>
	        		<p><a href="http://www.peachdata.org/">peachdata.org</a></p>
				
			</div>
		</body>
	</html>
