<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
                        <!-- syntax highlighting CSS -->
                        <link rel="stylesheet" href="/css/pygments.css" type="text/css" />

                        <!-- Homepage CSS -->
                        <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:acap.peachdata@gmail.com">email</a></li>
	        		<li><a href="https://github.com/peachdata">github.com/peachdata</a></li>
				</ul>
			</footer>
		</body>
	</html>
